{% extends 'layout.jinja' %}
{% block main%}

<form method="POST">
    <label for="id">ID:</label> <input id="id" name="id" value="{{song.song_id}}" readonly><br>
    <label for="name">Jméno:</label> <input id="name" name="name" value="{{song.name}}"><br>
    <label for="authors">Autoři:</label> <input id="authors" name="authors" value="{{song.authors}}"><br>
    <label for="capo">Capo:</label> <input id="capo" name="capo" value="{{song.capo}}" type="number" min='0' max='10'><br>
    <label for="bpm">tempo:</label> <input id="bpm" name="bpm" value="{{song.bpm}}" type="number"><br>
    <label for="rythm">rytmus:</label> <input id="rythm" name="rythm" value="{{song.rythm or ""}}" type="text"><br>
    <label for="transpose">Zobrazit transponované o:</label> <input id="transpose" name="transpose" value="{{song.transpose}}" type="number" min='-10' max='10'><br>
    <label for="source">Zdroj:</label> <input id="source" name="source" value="{{song.source}}" readonly><br>
    <label for="extid">Externí id:</label> <input id="extid" name="extid" value="{{song.extid}}" readonly><br>
    <label for="fontsize">Velikost fontu:</label> <input id="fontsize" name="fontsize" value="{{song.fontsize or ""}}" placeholder="auto"><br>
    <label for="cols">Sloupce:</label><input id="cols" name="cols" value="{{song.cols or ""}}" placeholder="auto"><br>
    <label for="chordsplace">Umístění akordů:</label><select input id="chordsplace" name="chordsplace">
    {% for opt in ["default","bottom","right"]%} <option value="{{opt}}" {%if opt == song.chordsplace%}selected{%endif%}>{{opt}}</option>{%endfor%}</select><br>
    <textarea name="text" style="width:100%;height:500px">{{song.text}}</textarea><br>
    <input type="submit" value="Uložit" name="submit"><br>
</form>
{#<pre>{{song.normalize_text()}}</pre><br>#}
<iframe src="/print?id={{song.song_id}}" style="width:100%;height:750px"></iframe>
{% endblock %}
